@page
@model Final_Project_PRN221.Pages.Users.ChangePasswordModel
@{
    Layout = null;
}
@if (!string.IsNullOrWhiteSpace(@Model.mess))
{
        <div class="text-danger">
        @Model.mess
        </div>
}
<form method="post">
    Tên tài khoản <input asp-for="@Model.Username" /><br />
    Mật khẩu cũ <input asp-for="@Model.oldPassword" type="password" /><br />
    Mật khẩu mới <input asp-for="@Model.newPassword" type="password" /><br />
    Nhập lại mật khẩu mới <input asp-for="@Model.ConfirmPassword" type="password" /><br />
    <input type="submit" class="btn btn-primary" value="Đổi mật khẩu" />
</form>