@page
@model Final_Project_PRN221.Pages.Admin.PaymentDetailModel
@{
    Layout = null;
}
<h2>Chi tiết tiền phòng @Model.RoomName</h2>
<form method="post">
    <input type="hidden" asp-for="PaymentDetail.PaymentDetailId" />
    <input type="hidden" asp-for="PaymentDetail.PaymentId" />
    <input type="hidden" asp-for="PaymentDetail.RoomCharge" />
    <input type="hidden" asp-for="PaymentDetail.WaterMoney" />
    <input type="hidden" asp-for="PaymentDetail.NetworkMoney" />
    <input type="hidden" asp-for="PaymentDetail.CleanMoney" />
    <input type="hidden" asp-for="PaymentDetail.DrinkWaterMoney" />
    Tiền phòng <input asp-for="PaymentDetail.RoomCharge" type="text" disabled />
    <br />
    Tiền nước <input asp-for="PaymentDetail.WaterMoney" type="text" disabled />
    <br />
    Tiền mạng <input asp-for="PaymentDetail.NetworkMoney" type="text" disabled />
    <br />
    Tiền vệ sinh <input asp-for="PaymentDetail.CleanMoney" type="text" disabled />
    <br />
    Tiền nước uống <input asp-for="PaymentDetail.DrinkWaterMoney" type="text" disabled />
    <br />
    Tiền được giảm <input asp-for="PaymentDetail.Discount" type="text" />
    <br />
    Tiền điện
    @if (Model.TotalElectricAmount == null)
    {
        <input type="hidden" asp-for="Electricity.PaymentDetailId" value="@Model.PaymentDetailId" />
        <input type="hidden" asp-for="Electricity.RoomId" value="@Model.RoomID" />
        <input type="submit" class="btn btn-primary" value="Cập nhật tiền điện" />
        <br />
        <button class="btn btn-primary" disabled>Chốt</button>
    }
    else
    {
        <input value="@Model.TotalElectricAmount" type="hidden" name="TotalElectricAmount" />
        <input asp-for="@Model.TotalElectricAmount" disabled/>

        <br />
        <input type="submit" class="btn btn-primary" value="Chốt" />
    }
</form>
@*Hàm get trong electricBill sẽ tạo mới 1 electricBill*@@*Tính tổng sau khi electric bill được cập nhật *@
