@page
@using Final_Project_PRN221.Models;
@model Final_Project_PRN221.Pages.Admin.PaymentModel
@{
    Layout = null;
    var Payments = ViewData["payments"] as List<Payment>;
}

<h2>Hóa đơn tiền phòng</h2>
@*NÚT CHUYỂN ĐỢT TIỀN PHÒNG*@
<p>Từ ngày @Model.fromDate.ToString("dd/MM/yyyy") đến ngày @Model.toDate.ToString("dd/MM/yyyy")</p>
<table class="table" style="border: 1px solid">
    <thead>
        <tr>
            <th>Phòng</th>
            <th>Tổng tiền phải đóng</th>
            <th>Xác nhận</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Payments)
        {
            <tr>
                <td>@p.Room.RoomName</td>
                @if (p.Amount == null)
                {
                    <td>Tổng số tiền phải xác nhận</td>
                }
                else
                {
                    <td>@p.Amount</td>
                }

                @if (p.IsPaid == true)
                {
                    <td>Đã đóng</td>
                }
                else
                {
                    <td>Chưa đóng</td>
                }
                <td>
                    <form method="post">
                        <input type="hidden" asp-for="PaymentDetail.PaymentId" value="@p.PaymentId" />
                        <button type="submit" class="btn btn-primary">
                            Xem chi tiết hóa đơn
                        </button>
                    </form>
                </td>
                <td></td> @*Check đã confirm thông tin chưa, xử lý bên payment detail*@
            </tr>
        }
    </tbody>
</table>
