@page
@using Final_Project_PRN221.Models;
@model Final_Project_PRN221.Pages.Admin.ViewUserListModel
@{
    var users = ViewData["users"] as List<User>;
}
@*<h2>View user list</h2>
<table class="table">
    <thead>
        <tr>
            <th>Họ và tên</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Phòng</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in users)
        {
            <tr>
                <td>@item.Fullname</td>
                <td>@item.Email</td>
                <td>@item.Phone</td>
                <td>@item.Room.RoomName</td>
                <td><a href="./ViewUserList?deleteUsername=@item.Username">Xóa</a></td>
            </tr>
        }
    </tbody>
</table>*@
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">User list</h4>
            <div class="table-responsive">
                <table class="table table-dark">
                    <thead>
                        <tr>
                            <th> Full Name </th>
                            <th> Email </th>
                            <th> Phone Number </th>
                            <th> Room </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in users)
                        {
                            <tr>
                                <td>@item.Fullname</td>
                                <td>@item.Email</td>
                                <td>@item.Phone</td>
                                <td>@item.Room.RoomName</td>
                                <td><a href="./ViewUserList?deleteUsername=@item.Username">Delete</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>