@page
@using Final_Project_PRN221.Models;
@model Final_Project_PRN221.Pages.Admin.ViewHistoryModel
@{
    Layout = null;
    var Payment = ViewData["Payment"] as List<Payment>;
    var Room = ViewData["Rooms"] as List<Room>;
}
<h2>Lịch sử đóng tiền tọ Tỵ Ha</h2>
<form asp-page="/Admin/ViewHistory" method="get">
    <label>Tìm theo tên phòng</label> 
    <select name="rooms">
        @foreach (var r in Room)
        {
            <option value="@r.RoomId">@r.RoomName</option>
        }
    </select>
    <input type="date" name="fromDate"/>
    <input type="date" name="toDate"/>
    <input type="submit" value="Tìm kiếm"/><br />
    <a asp-page="/Admin/ViewHistory">Trở lại danh sách đầy đủ</a>
</form>
<table class="table">
    <thead>
        <tr>
            <th>Phòng</th>
            <th>Từ ngày</th>
            <th>Đến ngày</th>
            <th>Tổng tiền</th>
            <th>Xác nhận</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Payment)
        {
            <tr>
                <td>@p.Room.RoomName</td>
                <td>@p.FromDate.Value.ToString("dd/MM/yyyy")</td>
                <td>@p.ToDate.Value.ToString("dd/MM/yyyy")</td>
                <td>@p.Amount.Value.ToString("#,##0.00")</td>
                @if (p.IsPaid == true)
                {
                    <td>Đã đóng</td>
                }
                else
                {
                    <td>Chưa đóng</td>
                }
            </tr>
        }
    </tbody>
</table>