@page
@model Final_Project_PRN221.Pages.Electric_Check.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Electricity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Electricity.FromDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Electricity.FromDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Electricity.ToDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Electricity.ToDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Electricity.PricePerNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Electricity.PricePerNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Electricity.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Electricity.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Electricity.Total)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Electricity.Total)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Electricity.PaymentDetail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Electricity.PaymentDetail.PaymentDetailId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Electricity.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Electricity.Room.RoomId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Electricity?.ElectricityId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
